@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@500");

html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
}

.app-container {
  background-color: rgb(39, 50, 59);
  height: 100vh;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16pt;
  color: rgb(196, 196, 196);
  font-family: 'Mohave, Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container *:not(i) {
    font-family: Mohave, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container input {
    background-color: rgb(105, 139, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container a {
    color: rgb(95, 123, 184)
}

.register-or-login-minder {
    font-size: 12pt;
}

.error-container {
    height: 40px;
}

.error-msg {
    color: rgb(189, 101, 101);
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.app-container button {
    position: relative;
    animation-name: App-logo-spin 4s;
}

.app-container button:disabled {
    color: rgba(196, 196, 196, 0.651);
    background-color: rgb(90, 90, 90);
    cursor: default;
}

.app-container button:hover {
    box-shadow: 0 0 3px 1px black;
}

.app-container button:disabled:hover {
    box-shadow: none;
}

.app-container button:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
}

.app-container button:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
}

.status-minder {
    position: absolute;
    bottom: -2.5em;
    left: 50%;
    transform: translateX(-50%);
}

h1, h2, h3 {
    font-family: Mohave, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i.fas {
    color: rgba(255, 255, 255, 0.15);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    margin-left: 100%;
  }
  to {
    transform: rotate(360deg);
    margin-left: 0;
  }
}
